<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>securityTest</contextName>
	
	<jmxConfigurator contextName="securityTest" />
	
	<appender name="SCONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%p] [%thread] %logger - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="STEST" class="ch.qos.logback.core.FileAppender">
		<File>log/securityTest.log</File>
		<Append>false</Append>
		<Encoding>UTF-8</Encoding>
		<BufferedIO>false</BufferedIO>
		<ImmediateFlush>true</ImmediateFlush>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%date [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<root>
		<appender-ref ref="STEST" />
		<appender-ref ref="SCONSOLE" />
	</root>	
	<logger name="org.red5.demos.securityTest">
		<level value="DEBUG" />
	</logger>		
</configuration>
